<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hlavní stránka</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo" class="logo-image">
            </div>
            <h1>Vítejte v našem eshopu</h1>
            <a href="/auth/login" class="admin-button">Admin</a>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="hero">
                <h2>Objevte naše produkty</h2>
                <p>Nejlepší kvalita za nejlepší ceny!</p>
                <a href="/products" class="admin-button">Prohlédnout produkty</a>
            </section>
            <section class="about">
                <h2>O nás</h2>
                <p>Jsme tým nadšenců, kteří chtějí nabízet kvalitní produkty a nejlepší služby pro naše zákazníky. Prohlédněte si naši širokou nabídku produktů a neváhejte nás kontaktovat!</p>
            </section>
        </div>
    </main>
</body>
</html>
